# 1. Add Two Numbers

In [1]:
num1 = 3
num2 = 5
sum = num1+num2
print(sum)

8

# 2. if Statement

In [2]:
num = 3
if num > 0:
    print(num, "is a positive number.")
print("This is always printed.")

num = -1
if num > 0:
    print(num, "is a positive number.")
print("This is also always printed.")

3 is a positive number.
This is always printed.
This is also always printed.

# 3. if and else Statement

In [3]:
num = 3

if num >= 0:
    print("Positive or Zero")
else:
    print("Negative number")

Positive or Zero

# 4. For loop using sum

In [4]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
sum = 0
for val in numbers:
	sum = sum+val
print("The sum is", sum)

The sum is 48

# 5. for loop with else

In [5]:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

# 6. Number Data Type in Python

In [6]:
a = 5
print(type(a))
print(type(5.0))
c = 5 + 3j
print(c + 3)
print(isinstance(c, complex))

<class 'int'>
<class 'float'>
(8+3j)
True

# 7. String Operations

In [7]:
str1 = 'Hello'
str2 ='World!'
print('str1 + str2 = ', str1 + str2)
print('str1 * 3 =', str1 * 3)

str1 + str2 =  HelloWorld!
str1 * 3 = HelloHelloHello

# 8. Declaring and assigning a value to a variable

In [8]:
website = "Apple.com"
print(website)

Apple.com

# 9. Changing value of a variable

In [9]:
website = "Apple.com"
website = "Programiz.com"
print(website)

Programiz.com

# 10. While Loop

In [10]:
n = 10
sum = 0
i = 1
while i <= n:
    sum = sum + i
    i = i+1
print("The sum is", sum)

The sum is 55

# 11. While loop with else

In [11]:
counter = 0

while counter < 3:
    print("Inside loop")
    counter = counter + 1
else:
    print("Inside else")

Inside loop
Inside loop
Inside loop
Inside else

# 12. Converting integer to float

In [12]:
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

# 13. List Index

In [13]:
my_list = ['p','r','o','b','e']

print(my_list[0])


print(my_list[2])


print(my_list[4])

n_list = ["Happy", [2,0,1,5]]


print(n_list[0][1])    


print(n_list[1][3])

p
o
e
a
5

# 14. Negative indexing

In [14]:
my_list = ['p','r','o','b','e']


print(my_list[-1])


print(my_list[-5])

e
p